<section class="main">
    <span (click)="scrollToTop()" class="main__scroll">&#8593;</span>
    <p class="main__title">Drop Me a Line, Let Me Know What You Think</p>
    <div class="main__wrapper">
        <div class="main__formgroup">
            <p class="main__label">First name</p>
            <input type="text" class="main__input main__input--half">
        </div>
        <div class="main__formgroup">
            <p class="main__label">Last name</p>
            <input type="text" class="main__input main__input--half">
        </div>
    </div>
    <div class="main__formgroup">
        <p class="main__label">Email *</p>
        <input type="text" name="email" class="main__input">
    </div>
    <div class="main__formgroup">
        <p class="main__label">Message..</p>
        <textarea type="text" class="main__textarea" rows="3"></textarea>
    </div>
    <div class="main__submit"><p>Submit</p></div>
</section>