.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
    &__filter {
        width: 1000px;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding-bottom: 50px;
        &__item {
            p {
                font-family: SF;
                width: 100px;
                letter-spacing: 0.5px;
                cursor: pointer;
                transition-duration: 0.2s;
                &:hover {
                    color: rgb(60, 0, 128);
                }
            }
        }
        &__button {
            width: 200px;
            height: 50px;
            background-color: purple;
            text-align: center;
            line-height: 50px;
            color: white;
            margin-right: 50px;
            transition-duration: 0.2s;
            cursor: pointer;
            &:hover {
                background-color: black;
            }
        }
    }
    &__content {
        width: 960px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        &__before, &__after{
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            
            width: 450px;
        }
    }
}