/* You can add global styles to this file, and also import other style files */


* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: Conqueror;
    src: url(./assets/fonts/Conqueror.otf);
}
@font-face {
    font-family: SF;
    src: url(./assets/fonts/SFl.otf);
    font-weight: normal;
}
@font-face {
    font-family: SF;
    src: url(./assets/fonts/SFB.otf);
    font-weight: bold;
}
@font-face {
    font-family: SFL;
    src: url(./assets/fonts/SFT.otf);
    font-weight: lighter;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}